*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background: #ad5389;
    border-radius: 50px;
    
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 3;
   
}
.navbar-nav{
    align-items: center;
}

.nav-link{
    color: black;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: capitalize;
   
}
.nav-link:hover{
    text-decoration: underline  #f5c32c;
  
}
.navbar-brand{
    color: black;
    font-family: 'Allura', cursive;
    font-weight: 100;font-size: 40px;
    text-transform: capitalize;

}
.shadow{
    border-radius: 50% 50% 30% 70% / 70% 59% 41% 30%;
    background: #ad5389;
    width: 300px;
    height: 300px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),

}
.navbar-brand span{
    color:#f5c32c ;
}
.btn-primary{
    color: whitesmoke;
    background-color:#f5c32c;
    
    border-radius: 50px;
  
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;  
margin-right: 10px;
    padding: 5px 30px;
    border: none;
    
   
}
.btn-primary:hover{
    color:#f5c32c ;
    background-color: whitesmoke;
   
}